.form {

  padding-left: 25px;

}
.header{
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 10px;

}
.full-width{
   width: 90%;
}

.card{
  width: 38%;
  border: 1px solid rgb(44, 114, 226);
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;


  margin-top: 100px;
  margin-left: 400px;
}

.login-button{
  margin-top: 15px;
  margin-left: 100px;

  padding-left: 40px;
  padding-right: 40px;
}
