<div class="p-3 mb-2 bg-info text-white text-center" style="">Medical Center Management System - eChanneling</div>

<div class="container">
  <mat-horizontal-stepper>
    <mat-step label="Select Doctor">
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
          <div *ngIf="showHome" class="row" style="margin-left: 350px; margin-top: 50px">
              <div class="col-3">
                <button class="btn btn-success" (click)="gotoSearchAll()">View All Doctors</button>
              </div>
              <div class="col-3">
                  <button class="btn btn-success" style="padding-left: 20px; padding-right: 20px" (click)="gotoSearchOne()">Search Doctor</button>
              </div>

          </div>
          <div *ngIf="showSearchDoctor">
              <div class="border border-dark" style="padding-left: 20px; padding-top: 20px;">
                <div class="row">
                    <p class="font-weight-bold col-3">Find Doctor(s)</p>
                    <div class="col">
                        <button class="btn btn-danger" (click)="gotoHome()" style="margin-left: 670px; margin-bottom: 20px">Back</button>
                    </div>
                </div>


               <div class="form-group row">
                  <label for="searchBox" class="col-sm-4 col-form-label">Enter Doctor name</label>
                    <div class="col-sm-6">
                        <input (keyup)="searchDoctor($event)" type="text" class="form-control" id="searchBox" placeholder="Search">
                    </div>
               </div>
              </div>
              <br>
              <mat-card class="border border-secondary" *ngFor="let doctor of doctor" style="margin-bottom:10px; margin-right: 5px;">
                  <div class="row">
                          <div class="col-sm-8">

                            <div style="max-width: 600px">
                                <div class="form-group row">
                                  <label for="doctorName" class="col-sm-5 col-form-label">Doctor Name</label>
                                  <div class="col-sm-7">
                                    <input readonly type="text"  class="form-control" id="doctorName" name="doctorName" readonly placeholder="" value="Dr. {{doctor.name.firstname}} {{doctor.name.lastname}}">
                                  </div>
                                </div>

                                <div class="form-group row">
                                  <label for="doctorType" class="col-sm-5 col-form-label">Doctor Type</label>
                                  <div class="col-sm-7">
                                    <input readonly type="text"  class="form-control" id="doctorType" name="doctorType" readonly placeholder="" value="{{doctor.doctorType}}">
                                  </div>
                                </div>

                                <div class="form-group row">
                                  <label for="slmcRegNo" class="col-sm-5 col-form-label">SLMC Registration Number</label>
                                  <div class="col-sm-7">
                                    <input readonly type="text"  class="form-control" id="slmcRegNo" name="slmcRegNo" readonly placeholder="" value="{{doctor.SLMCRegNo}}">
                                  </div>
                                </div>

                              </div>
                        </div>

                        <div class="col-sm-4" style="padding-top: 50px; padding-left: 60px">
                          <button type="buttton" matStepperNext class="btn btn-success" (click)="onBookNow(doctor.doctorRegistrationNumber,doctor.name.firstname,doctor.name.lastname)">Book Now<i class="fa fa-arrow-right" style="padding-left: 10px"></i></button>
                        </div>

                  </div>
                </mat-card>

          </div>

          <div *ngIf="showAll">
          <button class="btn btn-danger" (click)="gotoHome()" style="margin-left: 970px; margin-bottom: 20px">Back</button>
          <mat-card class="border border-secondary" *ngFor="let doctor of doctorDetails" style="margin-bottom:10px; margin-right: 5px;">
            <div class="row">
                    <div class="col-sm-8">

                      <div style="max-width: 600px">
                          <div class="form-group row">
                            <label for="doctorName" class="col-sm-5 col-form-label">Doctor Name</label>
                            <div class="col-sm-7">
                              <input readonly type="text"  class="form-control" id="doctorName" name="doctorName" readonly placeholder="" value="Dr. {{doctor.name.firstname}} {{doctor.name.lastname}}">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="doctorType" class="col-sm-5 col-form-label">Doctor Type</label>
                            <div class="col-sm-7">
                              <input readonly type="text"  class="form-control" id="doctorType" name="doctorType" readonly placeholder="" value="{{doctor.doctorType}}">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="slmcRegNo" class="col-sm-5 col-form-label">SLMC Registration Number</label>
                            <div class="col-sm-7">
                              <input readonly type="text"  class="form-control" id="slmcRegNo" name="slmcRegNo" readonly placeholder="" value="{{doctor.SLMCRegNo}}">
                            </div>
                          </div>

                        </div>
                  </div>

                  <div class="col-sm-4" style="padding-top: 50px; padding-left: 60px">
                    <button type="buttton" matStepperNext class="btn btn-success" (click)="onBookNow(doctor.doctorRegistrationNumber,doctor.name.firstname,doctor.name.lastname)">Book Now<i class="fa fa-arrow-right" style="padding-left: 10px"></i></button>
                  </div>

            </div>
          </mat-card>
          </div>

        </cdk-virtual-scroll-viewport>

    </mat-step>


    <mat-step label="Select Time Slot">
      <mat-card class="border border-secondary" *ngFor="let element of doctorAvailability" style="margin-bottom:10px; margin-right: 5px;">
        <div class="form-group row">
          <label for="doctorName" class="col-sm-3 col-form-label">Doctor Name</label>
          <div class="col-sm-4">
            <label style="padding-top: 5px" class="font-weight-bold">{{selectedDoctorName}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">

            <div class="form-group row">
              <label for="day" class="col-sm-5 col-form-label">Day</label>
              <div class="col-sm-7">
                <input readonly type="text"  class="form-control" id="day" name="day" readonly placeholder="" value="{{element.day}}">
              </div>
            </div>

          </div>

          <div class="col-sm-4">

            <div class="form-group row">
              <label for="time" class="col-sm-5 col-form-label">Time</label>
              <div class="col-sm-7">
                <input readonly type="text"  class="form-control" id="time" name="time" readonly placeholder="" value="{{element.startTime}}">
              </div>
            </div>

          </div>

          <div class="col-sm-4" style="padding-left: 50px">
            <button type="buttton" matStepperNext class="btn btn-success" (click)="onSelectTime(element.day,element.startTime)">Select<i class="fa fa-hand-pointer-o" style="padding-left: 15px"></i></button>
          </div>
        </div>
      </mat-card>
    </mat-step>


    <mat-step label="Enter Details">
     <div class="row border border-secondary" style="padding-top: 20px">
       <div class="col-5">
        <div class="form-group row">
          <label for="doctorName" class="col-sm-5 col-form-label">Doctor Name</label>
          <div class="col-sm-6">
            <label style="padding-top: 5px" class="font-weight-bold">{{selectedDoctorName}}</label>
          </div>
        </div>
       </div>
       <div class="col-3">
        <div class="form-group row">
          <label for="day" class="col-sm-5 col-form-label">Day</label>
          <div class="col-sm-7">
            <label style="padding-top: 5px" class="font-weight-bold">{{selectedDay}}</label>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group row">
          <label for="time" class="col-sm-5 col-form-label">Time</label>
          <div class="col-sm-7">
            <label style="padding-top: 5px" class="font-weight-bold">{{selectedTime}}</label>
          </div>
        </div>
      </div>
     </div>

     <div class="container "style="padding-top: 20px">
        <form (submit)="onSubmit(onlineAppForm)" #onlineAppForm="ngForm">
          <div class="form-group row">
                <label for="appointmentNumber" class="col-sm-4 col-form-label">Appointment No</label>
                <div class="col-sm-8">
                  <input type="text" ngModel #appointmentNumber="ngModel" style="font-weight:bold" class="form-control-plaintext" id="appointmentNumber" name="appointmentNumber" readonly [(ngModel)]="appointmentNum">
                </div>
          </div>
          <div class="form-group row">
            <label for="appointmentDate" class="col-sm-4 col-form-label" style="padding-top: 20px">Select Date</label>
            <div class="col-sm-8">
                <mat-form-field >
                    <input matInput ngModel #appointmentDate="ngModel" name="appointmentDate"[min]="" [max]="" [matDatepicker]="picker" placeholder="Choose a date" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <div style="font-size: 13.5px; margin-top: 5px; "class="alert alert-danger" *ngIf="!appointmentDate.valid && appointmentDate.touched">Select a Date</div>
                  </mat-form-field>
            </div>
          </div>

            <!-- Start - First Name, Last Name, Gender -->
          <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="firstName">First name</label>
                <input ngModel #firstName="ngModel" type="text" class="form-control" id="firstName" name="firstName" pattern="[a-zA-Z\s]+" placeholder="First name" required>
                <div style="font-size: 13.5px; "class="alert alert-danger" *ngIf="!firstName.valid && firstName.touched">Enter a valid name</div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="lastName">Last name</label>
                <input ngModel #lastName="ngModel" type="text" class="form-control" id="lastName" name="lastName" pattern="[a-zA-Z\s]+" placeholder="Last name" required>
                <div style="font-size: 13.5px;"class="alert alert-danger" *ngIf="!lastName.valid && lastName.touched">Enter a valid name</div>
              </div>

            <div class="col-md-4 mb-3" style="padding-left: 27px">
                <label >Gender</label>
                <div style="padding-top: 7px">
                  <mat-radio-group ngModel #gender="ngModel" name="gender" required>
                      <mat-radio-button value="Male">Male</mat-radio-button>
                      <mat-radio-button value="Female">Female</mat-radio-button>
                  </mat-radio-group>
                  <div style="font-size: 13.5px;"class="alert alert-danger" *ngIf="!gender.valid && gender.touched">Select gender</div>
                </div>
              </div>
            </div>
          <!-- End - First Name, Last Name, Gender -->
          <!-- Start - Contact Number, NIC-->
          <div class="form-row" style="padding-top: 20px">
              <div class="col-md-4 mb-3" >
                  <label for="contactNumber">Contact Number</label>
                  <div style="padding-top: 10px">
                      <input  ngModel #contactNumber="ngModel" type="text" class="form-control" id="contactNumber" pattern="\d{10}" name="contactNumber" placeholder="Contact Number" required>
                      <div style="font-size: 13.5px;"class="alert alert-danger" *ngIf="!contactNumber.valid && contactNumber.touched">Enter a valid Contact Number</div>
                  </div>
              </div>
              <div class="col-md-4 mb-3" >
                  <label for="NIC">NIC</label>
                  <div style="padding-top: 10px">
                    <input ngModel #NIC="ngModel" pattern="([0-9]{9}[x|X|v|V]|[0-9]{12})$" type="text" class="form-control" id="NIC" name="NIC" placeholder="NIC" required>
                    <div style="font-size: 13.5px;"class="alert alert-danger" *ngIf="!NIC.valid && NIC.touched">Enter Valid NIC No.</div>
                  </div>
              </div>
          </div>
        <!-- End - Contact Number, NIC-->
        <!-- Start - City, District -->
          <div class="form-row" style="padding-top: 20px">
              <div class="col-md-4 mb-3">
                  <label for="city">City</label>
                  <input ngModel #city="ngModel" type="text" class="form-control" id="city" name="city" placeholder="City" required>
                  <div style="font-size: 13.5px;"class="alert alert-danger" *ngIf="!city.valid && city.touched">Enter a city</div>
                </div>

                <div class="col-md-4 mb-3">
                  <label for="district">District</label>
                  <select ngModel #patientDistrict="ngModel"class="custom-select" name="district" id="district" required>
                      <option value="">Choose...</option>
                      <option value="Ampara">Ampara</option>
                      <option value="Anuradhapura">Anuradhapura</option>
                      <option value="Badulla">Badulla</option>
                      <option value="Batticaloa">Batticaloa</option>
                      <option value="Colombo">Colombo</option>
                      <option value="Galle">Galle</option>
                      <option value="Gampaha">Gampaha</option>
                      <option value="Hambantota">Hambantota</option>
                      <option value="Jaffna">Jaffna</option>
                      <option value="Kaluthara">Kaluthara</option>
                      <option value="Kandy">Kandy</option>
                      <option value="Kegalle">Kegalle</option>
                      <option value="Kilinochchi">Kilinochchi</option>
                      <option value="Kurunegala">Kurunegala</option>
                      <option value="Mannar">Mannar</option>
                      <option value="Mathara">Mathara</option>
                      <option value="Monaragala">Monaragala</option>
                      <option value="Mullaitivu">Mullaitivu</option>
                      <option value="Nuwara Eliya">Nuwara Eliya</option>
                      <option value="Polonnaruwa">Polonnaruwa</option>
                      <option value="Puttalam">Puttalam</option>
                      <option value="Ratnapura">Ratnapura</option>
                      <option value="Trincomalee">Trincomalee</option>
                      <option value="Vavuniya">Vavuniya</option>
                    </select>
                    <div style="font-size: 13.5px;"class="alert alert-danger" *ngIf="!patientDistrict.valid && patientDistrict.touched">Select a district</div>
                </div>
          </div>
        <!-- End - Address, City, District -->
       <div style="padding-left: 70px; padding-top: 20px"> <button type="submit"class="btn btn-primary">Make Online Appointment</button></div>
      </form>
      </div>

    </mat-step>
  </mat-horizontal-stepper>
</div>
