.example-viewport {
  height: 500px;
  width: 1000px;
  /* margin-top: 10px; */
  /* border: 1px solid black; */

}

.example-viewport1 {
  height: 500px;
  width: 800px;
  padding-left: 100px;
  /* margin-top: 10px; */
  /* border: 1px solid black; */

}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
