<!-- <p>
  receptionist-dashboard works!
</p>
<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <p>adadakjdnkandknadkandk</p>sasa
    sasas

    <br>
    sdasdad
    <br>
    sdasdad<br>
    sdasdad<br>
    sdasdad<br>
    sdasdad<br>
    sdasdad<br>
    sdasdad<br>
    sdasdad<br>
    sdasdad<br>
    sdasdad<br>
    sdasdad
   </cdk-virtual-scroll-viewport>

   <div class="row"  *ngIf="showMsg">
    <div class="col-xs-12">
      <p class="alert alert-success">
          <strong>Registration Success!</strong> Please click here to login!.

      </p>
    </div>
  </div> -->


 <!-- <button class="btn btn-success" (click)="click()">Click</button> -->
