<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <div class="container border border-secondary divPatientInfo">
        <p class="font-weight-bold">Find Patient(s)</p>
            <div class="form-group row">
                <label for="searchBox" class="col-sm-4 col-form-label">Enter patient name or Reg. Number</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" id="searchBox" placeholder="Search">
                </div>
             </div>
    </div>
</cdk-virtual-scroll-viewport>
