.example-stretched-tabs {
  width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

}

.example-viewport {
  height: 400px;
  /* width: 1200px; */
  /* margin-top: 10px; */
  /* border: 1px solid black; */

}


