
<mat-tab-group  mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
   <mat-tab label="View Online Appointments">

      <div class="col" style="padding-top: 15px">
          <div class="form-group row border border-secondary" style="padding: 20px 10px 20px 10px">
              <label for="chooseDoctor" class="col-sm-2 col-form-label">Select Doctor</label>
              <div class="col-sm-3">
                <select  #selectDoctor class="custom-select" name="chooseDoctor" id="chooseDoctor" required="">
                  <option value="null">Choose Doctor</option>
                  <option *ngFor="let doctor of doctors" value="{{doctor.doctorRegistrationNumber}}">Dr.{{doctor.firstName}} {{doctor.lastName}}</option>
                </select>
               </div>
               <label for="chooseDoctor" class="col-sm-2 col-form-label">Select Date</label>
               <div class="col-sm-3" style="margin-top: -15px">
                  <mat-form-field >
                      <input matInput ngModel #selectDate_view="ngModel" name="selectDate_view"[min]="" [max]="" [matDatepicker]="picker1" placeholder="Choose a date" required>
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <!-- <div class="alert alert-danger" *ngIf="!appointmentDate.valid && appointmentDate.touched">Select Date</div> -->
                </div>
                <div class="col-2">
                    <button class="btn btn-success" (click)="onChangeChooseDoctor_ViewOnlineAppointments(selectDoctor.value,selectDate_view.value)">Find</button>
                  </div>

          </div>
              <div class="form-group row" *ngIf="showTable_ViewAppointments">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Appointment No.</th>
                      <th scope="col">Appointment Date</th>
                      <th scope="col">TimeSlot</th>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Gender</th>
                      <th scope="col">Contact Number</th>
                      <th scope="col">NIC</th>
                      <th scope="col">City</th>
                      <th scope="col">District</th>
                      <th scope="col">Status</th>
                      <th scope="col">Date Created</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let appointment of onlineAppointment_byDoctor">
                      <td>eAPP/{{appointment.appointment.appointmentNumber}}</td>
                      <td>{{appointment.appointmentDate}}</td>
                      <td>{{appointment.appointment.timeSlot}}</td>
                      <td>{{appointment.appointment.firstname}}</td>
                      <td>{{appointment.appointment.lastname}}</td>
                      <td>{{appointment.appointment.gender}}</td>
                      <td>{{appointment.appointment.contactNumber}}</td>
                      <td>{{appointment.appointment.NIC}}</td>
                      <td>{{appointment.appointment.city}}</td>
                      <td>{{appointment.appointment.district}}</td>
                      <td>{{appointment.appointment.appointmentStatus}}</td>
                      <td>{{appointment.dateCreated}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>



  </div>

  </mat-tab>
  <mat-tab label="Link with Patient Profile">
      <mat-horizontal-stepper>
          <mat-step label="Select Appointment to Link">
              <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                    <div class="col" style="padding-top: 15px">
                      <div class="form-group row border border-secondary" style="padding: 20px 10px 20px 10px">
                          <label for="chooseDoctor" class="col-sm-4 col-form-label">Choose Doctor</label>
                          <div class="col-sm-4">
                            <select  (change)="onChangeChooseDoctor_LinkPatient($event.target.value)"class="custom-select" name="chooseDoctor" id="chooseDoctor" required="">
                              <option value="null">Choose...</option>
                              <option *ngFor="let doctor of doctors" value="{{doctor.doctorRegistrationNumber}}">Dr.{{doctor.firstName}} {{doctor.lastName}}</option>
                            </select>
                          </div>
                      </div>
                          <div class="form-group row" *ngIf="showTable_LinkPatient">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th scope="col">Appointment No.</th>
                                  <th  scope="col">Appointment Date</th>
                                  <th scope="col">TimeSlot</th>
                                  <th scope="col">First Name</th>
                                  <th scope="col">Last Name</th>
                                  <th scope="col">Gender</th>
                                  <th scope="col">Contact Number</th>
                                  <th scope="col">NIC</th>
                                  <th scope="col">City</th>
                                  <th scope="col">District</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Date Created</th>
                                  <th scope="col">Click to link</th>
                                </tr>
                              </thead>
                              <tbody >
                                <tr *ngFor="let appointment of onlineAppointments_LinkPatient">
                                  <td>eAPP/{{appointment.appointment.appointmentNumber}}</td>
                                  <td>{{appointment.appointmentDate}}</td>
                                  <td>{{appointment.appointment.timeSlot}}</td>
                                  <td>{{appointment.appointment.firstname}}</td>
                                  <td>{{appointment.appointment.lastname}}</td>
                                  <td>{{appointment.appointment.gender}}</td>
                                  <td>{{appointment.appointment.contactNumber}}</td>
                                  <td>{{appointment.appointment.NIC}}</td>
                                  <td>{{appointment.appointment.city}}</td>
                                  <td>{{appointment.appointment.district}}</td>
                                  <td>{{appointment.appointment.appointmentStatus}}</td>
                                  <td>{{appointment.dateCreated}}</td>
                                  <td><button matStepperNext (click)="onLinkToPatient(appointment)"class="btn btn-sm btn-primary" >Link Patient</button></td>

                                </tr>
                              </tbody>
                            </table>
                          </div>
                    </div>
                  </cdk-virtual-scroll-viewport>
              </mat-step>
              <!-- Start Select Patient Step -->
              <mat-step label="Select patient">
                  <div class="form-row border border-secondary" style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
                      <div class="col-md-4 mb-3">
                        <label for="firstName">First name as in Online Appointment</label>
                        <input readonly type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" [(ngModel)]="firstName_LinkPatient">
                      </div>

                      <div class="col-md-4 mb-3">
                        <label for="lastName">Last name as in Online Appointment</label>
                        <input readonly type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name" [(ngModel)]="lastName_LinkPatient">
                      </div>

                     <div class="col-md-4 mb-3" style="padding-left: 27px">
                        <label >NIC as in Online Appointment</label>
                        <div >
                            <input readonly type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name" [(ngModel)]="NIC_LinkPatient">
                        </div>
                      </div>
                  </div>
                <form (submit)="linkPatient(form)" #form="ngForm">
                  <div class="form-group row" style="padding-top: 20px">
                      <label for="patientRegistrationNumber" class="col-sm-6 col-form-label">Enter the Registration Number of the patient to be linked</label>
                      <div class="col-sm-4 input-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text col" id="basic-addon3">PAT/</span>
                            </div>
                        <input (keyup)="onSearchPatient($event)"type="number" ngModel #patientRegistrationNumber="ngModel" class="form-control" id="patientRegistrationNumber"  name="patientRegistrationNumber" placeholder="Enter Patient Registration Number">
                      </div>
                  </div>

                  <div class="form-group row">
                      <label for="patientName" class="col-sm-4 col-form-label">Patient Name</label>
                      <div class="col-sm-8">
                        <input type="text" ngModel #patientName="ngModel" class="form-control" id="patientName" name="patientName" readonly placeholder="" [(ngModel)]="name">
                      </div>
                  </div>

                  <button type="submit" class="btn btn-success" style="margin-left: 350px; margin-top: 20px">Link Patient</button>
              </form>
              </mat-step>
              <!-- End Select Patient Step -->

            </mat-horizontal-stepper>

  </mat-tab>
  <!-- <mat-tab label="View Online Appointments">

  </mat-tab> -->
</mat-tab-group>
