<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
<div class="container mainDiv">


    <div class="row">
      <div class="col border border-secondary" style="margin-right: 10px; padding-top: 15px">
            <form (submit)="onScheduleAppointment(scheduleAppointmentForm)" #scheduleAppointmentForm="ngForm">
              <p class="font-weight-bold">Add Appointment</p>
              <div class="form-group row">
                  <label for="patientRegistrationNumber" class="col-sm-4 col-form-label">Patient Reg. No</label>
                  <div class="col-sm-8">
                    <input (keyup)="onSearchPatient($event)"type="text" ngModel #patientRegistrationNumber="ngModel" class="form-control" id="patientRegistrationNumber"  name="patientRegistrationNumber" placeholder="Enter Patient Registration Number">
                  </div>
              </div>

              <div class="form-group row">
                  <label for="patientName" class="col-sm-4 col-form-label">Patient Name</label>
                  <div class="col-sm-8">
                    <input type="text" ngModel #patientName="ngModel" class="form-control" id="patientName" name="patientName" readonly placeholder="" [(ngModel)]="name">
                  </div>
              </div>

              <div class="form-group row">
                  <label for="selectDoctor" class="col-sm-4 col-form-label">Select Doctor</label>
                  <div class="col-sm-8">
                      <select (change)="onChangeSelectDoctor($event.target.value)" ngModel #selectDoctor="ngModel"class="custom-select" name="selectDoctor" id="selectDoctor" required="">
                        <option value="null">Choose...</option>
                        <option *ngFor="let doctor of doctors" value="{{doctor.firstName}}">Dr.{{doctor.firstName}} {{doctor.lastName}}</option>
                      </select>
                  </div>
              </div>



              <div class="form-group row">
                  <label for="selectDay" class="col-sm-4 col-form-label">Select Time Slot</label>
                  <div class="col-sm-8">
                      <select ngModel #selectTimeSlot="ngModel"class="custom-select" name="selectTimeSlot" id="selectTimeSlot" required="">
                          <option value="">Choose...</option>
                          <option *ngFor="let timeslot of selectedDoctorAvailability" value="{{timeslot.day}} {{timeslot.startTime}} {{timeslot.endTime}}">{{timeslot.day}} {{timeslot.startTime}} {{timeslot.endTime}}</option>

                      </select>
                  </div>
              </div>

              <!-- <div class="form-group row">
                  <label for="selectTimeSlot" class="col-sm-4 col-form-label">Select Time Slot</label>
                  <div class="col-sm-8">
                      <select ngModel #selectTimeSlot="ngModel"class="custom-select" name="selectTimeSlot" id="selectTimeSlot" required="">
                          <option value="">Choose...</option>
                          <option *ngFor="let timeslot of selectedDoctorAvailability" value="{{timeslot.startTime}}">{{timeslot.startTime}}</option>

                      </select>
                  </div>
              </div> -->

              <div class="form-group row">
                <label for="selectDate" class="col-sm-4 col-form-label">Select Date</label>
                <div class="col-sm-8">
                    <mat-form-field >
                        <input matInput ngModel #appointmentDate="ngModel" name="appointmentDate"[min]="" [max]="" [matDatepicker]="picker" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>

                </div>
             </div>

              <div class="form-group row">
                  <label for="appointmentNumber" class="col-sm-4 col-form-label">Appointment No</label>
                  <div class="col-sm-8">
                    <input type="text" ngModel #appointmentNumber="ngModel" style="font-weight:bold" class="form-control-plaintext" id="appointmentNumber" name="appointmentNumber" readonly [(ngModel)]="appointmentNum">
                  </div>
              </div>

              <div class="form-group row" style="margin-left: 150px; margin-top: 20px;">
                <button type="submit" class="btn btn-success">Make Appointment</button>
              </div>

            </form>
      </div>

      <div class="col border border-secondary" style="padding-top: 15px">
              <p class="font-weight-bold">Doctor Availability</p>
              <div class="form-group row">
                  <label for="chooseDoctor" class="col-sm-4 col-form-label">Choose Doctor</label>
                  <div class="col-sm-8">
                    <select  (change)="onChangeChooseDoctor($event.target.value)"class="custom-select" name="chooseDoctor" id="chooseDoctor" required="">
                      <option value="null">Choose...</option>
                      <option *ngFor="let doctor of doctors" value="{{doctor.firstName}}">Dr.{{doctor.firstName}} {{doctor.lastName}}</option>
                    </select>
                   </div>
              </div>

              <div class="form-group row">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Day</th>
                      <th scope="col">From</th>
                      <th scope="col">To</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let slot of doctorAvailability">
                      <td>{{slot.day}}</td>
                      <td>{{slot.startTime}}</td>
                      <td>{{slot.endTime}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>


      </div>

    </div>
    <br>
    <div class="border border-secondary" style="padding-left: 15px; padding-top: 10px; width:979px; margin-left: -14px">
      <p class="font-weight-bold">Find Apppointments(s)</p>
          <div class="form-group row">
              <label for="searchBox" class="col-sm-4 col-form-label">Enter patient name or Reg. Number</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="searchBox" placeholder="Search">
              </div>
           </div>
    </div>

</div>
</cdk-virtual-scroll-viewport>
