<div class="card text-center">
  <div class="card-body">
      <img alt='' class='card-img-profile' src='https://image.flaticon.com/icons/svg/149/149071.svg'>
      <!-- <img alt='' class='card-img-profile' src='/src/assets/110.png/'> -->

      <h6 class="card-title">Admin
      <!-- <small class="card-text">{{adminID}}</small><br> -->
      <br>
      <br>
      <a href="#" class="btn  btn-danger btn-sm"><i class="fa fa-sign-out" style="padding-right: 4px"></i>Log out</a>

    </h6>
  </div>
</div>


<div class="list-group">
  <a class="list-group-item list-group-item-action " routerLink="./AddUser/asd" routerLinkActive="blue"><i class="fa fa-plus-circle" style="padding-right: 13px"></i>Add System User</a>
  <a class="list-group-item list-group-item-action " routerLink="./ViewUser" routerLinkActive="blue"><i class="fa fa-id-card-o" style="padding-right: 13px"></i>View System Users</a>
  <a class="list-group-item list-group-item-action " routerLink="./AddEmployee" routerLinkActive="blue"><i class="fa fa-user-plus" style="padding-right: 13px"></i>Register Employee</a>
  <a class="list-group-item list-group-item-action " routerLink="./ViewEmployee" routerLinkActive="blue"><i class="fa fa-list-alt" style="padding-right: 13px"></i>View Employee Details</a>
  <a class="list-group-item list-group-item-action " routerLink="./addRooms" routerLinkActive="blue"><i class="fa fa-tags" style="padding-right: 13px"></i>Add Rooms</a>
  <a class="list-group-item list-group-item-action " routerLink="./reports" routerLinkActive="blue"><i class="fa fa-line-chart" style="padding-right: 13px"></i>Reports - Charts</a>
  <a class="list-group-item list-group-item-action " routerLink="./reports2" routerLinkActive="blue"><i class="fa fa-file-text-o" style="padding-right: 13px"></i>Reports - PDF</a>

  <!-- <a class="list-group-item list-group-item-action " routerLink="#" routerLinkActive="blue">Schedule Appointments</a> -->
</div>
