<div class="card text-center">
  <div class="card-body">
      <img alt='' class='card-img-profile' src='https://image.flaticon.com/icons/svg/149/149071.svg'>
      <!-- <img alt='' class='card-img-profile' src='/src/assets/110.png/'> -->

      <h6 class="card-title">Admin
      <!-- <small class="card-text">{{adminID}}</small><br> -->
      <br>
      <br>
      <a href="#" class="btn  btn-danger btn-sm">Log out</a>

    </h6>
  </div>
</div>


<div class="list-group">
  <a class="list-group-item list-group-item-action " routerLink="./AddUser/asd" routerLinkActive="blue">Add System User</a>
  <a class="list-group-item list-group-item-action " routerLink="./ViewUser" routerLinkActive="blue">View System Users</a>
  <a class="list-group-item list-group-item-action " routerLink="./AddEmployee" routerLinkActive="blue">Register Employee</a>
  <a class="list-group-item list-group-item-action " routerLink="./ViewEmployee" routerLinkActive="blue">View Employee Details</a>
  <!-- <a class="list-group-item list-group-item-action " routerLink="#" routerLinkActive="blue">Schedule Appointments</a> -->
</div>
