<div class="card text-center">
  <div class="card-body">
      <img alt='' class='card-img-profile' src='https://image.flaticon.com/icons/svg/149/149071.svg'>
      <!-- <img alt='' class='card-img-profile' src='/src/assets/110.png/'> -->

      <h6 class="card-title">{{doctorname}}
      <small class="card-text"></small><br>
      <a href="#" class="btn  btn-danger btn-sm"><i class="fa fa-sign-out" style="padding-right: 4px"></i>Log out</a>

    </h6>
  </div>
</div>


<div class="list-group">
  <a class="list-group-item list-group-item-action " routerLink="./appointment" routerLinkActive="blue"><i class="fa fa-calendar-check-o" style="padding-right: 13px"></i>Upcoming Appointment</a>
  <a class="list-group-item list-group-item-action " routerLink="./ViewPatient" routerLinkActive="blue"><i class="fa fa-id-card-o" style="padding-right: 13px"></i>View Patient Profiles</a>

</div>
