<div class="card text-center">
    <div class="card-body">
        <img alt='' class='card-img-profile' src='https://image.flaticon.com/icons/svg/149/149071.svg'>
        <!-- <img alt='' class='card-img-profile' src='/src/assets/110.png/'> -->

        <h6 class="card-title">Sachini
        <small class="card-text">Receptionist</small><br>
        <a href="#" class="btn btn-secondary btn-sm">Log out</a>

      </h6>
      <!-- <p class="card-text">Receptionist</p> -->
      <!-- <a href="#" class="btn btn-secondary btn-sm">Log out</a> -->
    </div>
  </div>


<div class="list-group">
    <a class="list-group-item list-group-item-action " routerLink="./Dashboard" routerLinkActive="blue">Dashboard</a>
    <a class="list-group-item list-group-item-action " routerLink="./RegisterPatient" routerLinkActive="blue">Register Patient</a>
    <a class="list-group-item list-group-item-action " routerLink="./ViewPatientDetails" routerLinkActive="blue">View Patient Details</a>
    <a class="list-group-item list-group-item-action " routerLink="./ScheduleAppointments" routerLinkActive="blue">Schedule Appointments</a>
    <a class="list-group-item list-group-item-action " routerLink="./OnlineAppoinments" routerLinkActive="blue">View Online Appointments</a>
    <a class="list-group-item list-group-item-action " routerLink="./ViewDoctor" routerLinkActive="blue">View Doctor Profiles</a>
    <a class="list-group-item list-group-item-action " routerLink="./RegisterDoctor" routerLinkActive="blue">Register Doctor</a>
    <a class="list-group-item list-group-item-action " routerLink="./AdmitPatient" routerLinkActive="blue">Admit Patient</a>

  </div>
