<div class="card text-center">
    <div class="card-body">
        <img alt='' class='card-img-profile' src='https://image.flaticon.com/icons/svg/149/149071.svg'>
        <!-- <img alt='' class='card-img-profile' src='/src/assets/110.png/'> -->

        <h6 class="card-title">Receptionist
        <small class="card-text"></small><br>
        <a href="#" class="btn  btn-danger btn-sm"><i class="fa fa-sign-out" style="padding-right: 4px"></i>Log out</a>

      </h6>
      <!-- <p class="card-text">Receptionist</p> -->
      <!-- <a href="#" class="btn btn-secondary btn-sm">Log out</a> -->
    </div>
  </div>


<div class="list-group">
    <a class="list-group-item list-group-item-action " routerLink="./Dashboard" routerLinkActive="blue"><i class="fa fa-th" style="padding-right: 13px;"></i>Dashboard</a>
    <a class="list-group-item list-group-item-action " routerLink="./RegisterPatient" routerLinkActive="blue"><i class="fa fa-user-o" style="padding-right: 13px"></i>Register Patient</a>
    <a class="list-group-item list-group-item-action " routerLink="./ViewPatientDetails" routerLinkActive="blue"><i class="fa fa-list-alt" style="padding-right: 13px"></i>View Patient Details</a>
    <a class="list-group-item list-group-item-action " routerLink="./ScheduleAppointments" routerLinkActive="blue"><i class="fa fa-calendar" style="padding-right: 13px"></i>Schedule Appointments</a>
    <a class="list-group-item list-group-item-action " routerLink="./OnlineAppoinments" routerLinkActive="blue"><i class="fa fa-edge" style="padding-right: 13px"></i>Online Appointments</a>
    <a class="list-group-item list-group-item-action " routerLink="./RegisterDoctor" routerLinkActive="blue"><i class="fa fa-user-md " style="padding-right: 13px"></i>Register Doctor</a>
    <a class="list-group-item list-group-item-action " routerLink="./ViewDoctor" routerLinkActive="blue"><i class="fa fa-address-card-o" style="padding-right: 13px"></i>View Doctor Profiles</a>
    <a class="list-group-item list-group-item-action " routerLink="./AdmitPatient" routerLinkActive="blue"><i class="fa fa-wheelchair" style="padding-right: 13px"></i>Patient Admissions</a>


  </div>
